<div class="modal fade" tabindex="-1" data-bs-backdrop="static" role="dialog" id="consent-modal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cookies</h5>
            </div>
            <div class="modal-body">
                <p>Onze website maakt gebruik van cookies om het gebruik en functionaliteit te waarborgen van deze
                    website.</p>
                <a rel="nofollow noopener noreferrer" class="btn-block btn btn-link" href="https://huurdersplatformwesterkwartier.nl/privacy-policy"
                   style="display: inline-block;">Privacy policy</a>
                <button class="btn-block btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#modal-cookie-information">Meer informatie
                </button>
            </div>
            <div class="modal-footer">
                <button id="cookie-accept" type="button" class="btn btn-success">Accepteren</button>
                <button id="cookie-deny" type="button" class="btn btn-danger">Weigeren</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cookie-information" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cookie informatie</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deze website maakt gebruik van cookies om het functioneren en het gebruik van deze website te
                    verbeteren. Er zal op geen enkele wijze contact kunnen worden gemaakt met gebruikers door middel van
                    de cookies.<br>

                    <i id="cookie-bar-tracking" style="display: block;">
                        <br>Deze website maakt gebruik van tracking cookies, voor meer informatie kijk in de privacy
                        policy.<br>
                    </i>

                    <i id="cookie-bar-privacy-page" style="display: inline-block;">
                        <br>Voor meer informatie over het gebruik op deze website van cookies, lees onze <a
                                rel="nofollow noopener noreferrer" id="cookie-bar-privacy-link"
                                href="https://huurdersplatformwesterkwartier.nl/privacy-policy">privacy policy</a>.<br><br></i>

                    <br>Door op <span>Accepteren</span> te klikken geef je toestemming aan deze website om cookies te
                    plaatsen.
                    <i id="cookie-bar-no-consent">
                        <br>
                        <br>Door op <span>Weigeren</span> te klikken geef je geen toestemming om cookies te
                        plaatsen en huidige cookies te verwijderen. Daardoor kan het zijn dat de website niet volledig
                        werkt.</i><br>

                    <br>Voor meer informatie over cookies, bezoek de website van de <a
                            rel="nofollow noopener noreferrer" target="_blank"
                            href="https://www.rijksoverheid.nl/onderwerpen/telecommunicatie/vraag-en-antwoord/mag-een-website-ongevraagd-cookies-plaatsen">Rijksoverheid</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Begrepen</button>
            </div>
        </div>
    </div>
</div>
